
@{
    ViewData["Title"] = "AddContact";
    Layout = null;
}

<br />
<div class="col-12">
    <h2 class="text-info  text-center">Add Contact</h2>
</div>
<br />
<form name="Form" class="form-horizontal">

    <div class="form-group row">
        <div class="col-3">
            <label>Name</label>
        </div>
        <div class="col-6">
            <input class="form-control" name="Name" id="Name" required data-ng-model="contact.Name" />
        </div>
        <span class="text-danger" ng-show="Form.Name.$touched && Form.Name.$invalid">Name is required.</span>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <label>Lastname</label>
        </div>
        <div class="col-6">
            <input class="form-control" name="Lastname" id="Lastname" required data-ng-model="contact.LastName" />
        </div>
        <span class="text-danger" ng-show="Form.Lastname.$touched && Form.Lastname.$invalid">Lastname is required.</span>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <label>Address</label>
        </div>
        <div class="col-6">
            <input class="form-control" name="Address" id="Address" required data-ng-model="contact.Address" />
        </div>
        <span class="text-danger" ng-show="Form.Address.$touched && Form.Address.$invalid">Address is required.</span>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <label>Tag</label>
        </div>
        <select class="form-select form-select-lg col-6" name="TagID" required id="TagID" ng-model="contact.TagID">
            <option ng-repeat="option in TagOptions" value="{{option.TagID}}">{{option.TagName}}</option>
        </select>
    </div>
 
    <div class="form-group row" ng-repeat="Number in contact.Number track by $index ">
        <div class="col-3">
            <label>Number</label>
        </div>
        <div class="col-6">
            <input class="form-control" name="Number" data-ng-model="contact.Number[[$index]].PhoneNumber"
                   ng-pattern="/^[0-9]*$/"
                   maxlength="13"
                   minlength="8" />
        </div>
        <span class="text-danger" ng-show="Form.Number.$touched && Form.Number.$invalid">Number most contain 8-13 digits</span>
    </div>
    <div class="form-group row" ng-repeat="Mail in contact.Mail track by $index">
        <div class="col-3">
            <label>Mail</label>
        </div>
        <div class="col-6">
            <input type="email" name="Mail" class="form-control" data-ng-model="contact.Mail[[$index]].MailAddress" />
        </div>
        <span class="text-danger" ng-show="Form.Mail.$error.email">Mail is invalid</span>
    </div>
</form>
<div class="form-group row">
    <div class="col-3 offset-3">
        <input type="button" class="btn btn-primary" value="Save" name="btnSave" ng-click="savedata(contact)" ng-disabled="Form.$invalid">
    </div>
    <div class="col-5">
        <button class="btn btn-info" ng-click="addNewMail()">Add mail</button>
        &emsp;
        <button class="btn btn-info" ng-click="addNewNumber()">Add number</button>
    </div>
</div>