@{
    ViewData["Title"] = "Edit Contact";
    Layout = null;
}

<br />
<div class="col-12">
    <h2 class="text-info  text-center">Details Contact</h2>
</div>
<br />
<form name="Form" class="form-horizontal">

    <div class="form-group row">
        <div class="col-3">
            <label>Name</label>
        </div>
        <div class="col-6" >
            <input class="form-control" name="name" id="name" required data-ng-model="user.name" />
        </div>
        <span ng-show="Form.name.$touched && Form.name.$invalid">Name is required.</span>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <label>Lastname</label>
        </div>
        <div class="col-6">
            <input class="form-control" name="lastname" id="lastname" required data-ng-model="user.lastName"  />
        </div>
        <span ng-show="Form.lastname.$touched && Form.lastname.$invalid">Lastname is required.</span>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <label>Address</label>
        </div>
        <div class="col-6">
            <input class="form-control" name="address" required data-ng-model="user.address"/>
        </div>
        <span ng-show="Form.address.$touched && Form.address.$invalid">Address is required.</span>
    </div>
    <div class="form-group row">
        <div class="col-3">
            <label>Tag</label>
        </div>
        
        <select class="form-select form-select-lg mb-3 col-6" name="tag" id="tag" ng-model="user.tagID">
            <option ng-repeat="option in TagOptions" value="{{option.tagID}}">{{option.tagName}}</option>
        </select>
    </div>
    
    <div class="form-group row" ng-repeat="Number in user.number track by $index ">
        <div class="col-3">
            <label>Number</label>
        </div>
        <div class="col-6">
            <input class="form-control" name="number" data-ng-model="user.number[[$index]].phoneNumber"
                   ng-pattern="/^[0-9]*$/"
                   maxlength="13"
                   minlength="8" />
        </div>
        <span class="text-danger" ng-show="Form.number.$touched && Form.number.$invalid">Number most contain 8-13 digits</span>
    </div>
    <div class="form-group row" ng-repeat="Mail in user.mail track by $index">
        <div class="col-3">
            <label>Mail</label>
        </div>
        <div class="col-6">
            <input type="email" name="mail" class="form-control" data-ng-model="user.mail[[$index]].mailAddress" />
        </div>
        <span class="text-danger" ng-show="Form.mail.$error.email">Mail is invalid</span>
    </div>
</form>
<div class="form-group row">
    <div class="col-3 offset-3">
        <input type="button" class="btn btn-primary" value="Save" name="btnSave" ng-click="savedata(user)" ng-disabled="Form.$invalid">
    </div>
    <div class="col-5">
        <button class="btn btn-info" ng-click="addNewMail()">Add mail</button>
       
        <button class="btn btn-info" ng-click="addNewNumber()">Add number</button>        
    </div>
</div>



