<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Contact_Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/angular.min.js"></script>
    <script src="~/js/angular-route.js"></script>
    <script src="~/js/Scripts/app.js"></script>
    <script src="~/js/Scripts/route.js"></script>
    @*<script src="//unpkg.com/@@uirouter/angularjs/release/angular-ui-router.min.js"></script>*@
</head>
<body data-ng-app="app">
    <div class="container">
            
            @RenderBody()
             
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  
    @RenderSection("Scripts", required: false)
</body>
</html>
